.ErrorContainer {
  background: #ffe6e6;
  border-left: 4px solid #e40000;
  padding: 12px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #b10000;
  font-size: 14px;
}

.ErrorContainer ul {
  margin: 0;
  padding-left: 20px;
}

.ErrorContainer li {
  margin-bottom: 4px;
}
