.wrapper {
  position: relative;
  text-align: center;
  margin: 25px 0;
  width: 100%;
}

.wrapper span {
  background: #fff; /* tumhare page ka background color ke hisaab se change kar sakte ho */
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  position: relative;
  z-index: 2;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #d0d0d0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
